body {
  background-color: #f6f8f7;
  margin: 5px auto;
  padding: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

.resume-wrapper {
  border: 1px solid #dce2e4;
  margin: 50px auto;
  background-color: #ecf0f1;
  padding: 0px 20px 50px 20px;
  box-shadow: 0 0 7px #6e6e6e;
  border-radius: 5px;
 
}


.head-title {
    background-color: #0a8bb0;
    box-shadow: 0 3px 0 #00789f;
    border-radius: 0 0 5px 5px;
    
    text-align: center;
    padding: 3px;
}


.affix {
  top: 0;
  width: 100%; 
  left:0;
}


.navbar-inverse {
  border-color: #f8fafa;
    box-shadow: 0 3px 0 #d2dfdf;
    margin-top: 1px;
    background-color: #f8fafa;
   border-radius: 0 0 5px 5px;
   z-index: +1000;  

   
}

.navbar-inverse .navbar-nav > li > a {
    color: #2d2626;
    font-weight: bold;

}

.navbar-inverse .navbar-nav > li > a:hover {
     padding: 10px 8px;
    font-weight: bold;
     background-color: #d8d8d8 !important;
    
}

.navbar-inverse .navbar-nav > li > a:active  {
background-color: #0a8bb0 !important;
color: #f8f8f8 !important;
text-shadow: 0 2px 0 #00789f;
}

.navbar-inverse .navbar-nav > li > a:focus  {
background-color: #0a8bb0 !important;
color: #f8f8f8 !important;
text-shadow: 0 2px 0 #00789f;
}



/*   *******************************************************************Section About    */

.section-title {
    display: inline-block;
    z-index: -1;

}
 .section-title > .title {
      width: 70px;
      text-align: center;

    }

.section-title .title > h4 {
  font-family: 'Open Sans Condensed', "Microsoft YaHei";
        font-size: 15px;
        font-weight: bold !important;
        color: #211d1e;
        text-shadow: 0 2px 0 #c1c5c6;
      }


.section-icon {
    padding: 15px 10px 10px;
    border-radius: 100px;
    background-color: #0a8bb0;
    border: 5px solid #fbf6fa;
    box-shadow: 0 3px 0 #c0c4c5;
    text-align: center;
    height: 70px;
    margin: 30px 0 0;
    width: 70px;
    transition: all 200ms ease-out;

}

.section-icon > i {
      color: #feffff;
      text-shadow: 0 -1px 0 #c0c4c5;
      font-size: 30px;
    }


  .box-wrapper {
    margin-top: 30px;
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #d8d8d8;
    background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 19%);
   
}

.box-wrapper::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}


 .avatar {
    margin: auto;
    width: 120px;
    height: 120px;
    transition: all 100ms ease-out;
    box-shadow: 0 3px 0 #dfdfdf;
    border: 5px solid #0a8bb0;
    overflow: hidden;
    border-radius: 120px;

    
}

  .avatar>  img {
      width: 120px;
      margin-top: -5px;
      margin-left: -5px;
      overflow: 120px;
      border-radius:120px;
    }




.social-icons, .pro-icons {
  text-align: center;
 
}

.pro-icons ul, .social-icons ul {
    list-style: none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.pro-icons ul li, .social-icons ul li {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-shadow: 0 2px 0 #d2dfdf;
    margin-left: 2px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 30px;
    padding: 6px 5px;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.pro-icons ul li a, .social-icons ul li a {
    color: #a8a8a8;
    font-size: 20px;
    text-shadow: none;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    text-decoration: none;
    display: block;
}

.desc {
    text-align: center;
    padding: 6px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 0 #e0e7e9;
    margin: 8px;
}

.round-rows {
    margin: 0;
    list-style: none;
}

.round-rows .round-row {
    box-shadow: 0 2px 0 #e0e7e9;
    font-size: 16px;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    background-color: #ecf0f1;
    border-radius: 100px;
    padding: 5px 10px;
    margin-top: 7px;
    display: inline-block;
}
.round-rows .round-row i {
    color: #0a8bb0;
    font-size: 20px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.row::after, .row::before {
    content: " ";
    display: table;
}
*, *::after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.edu-wrapper, .emp-wrapper, .pro-wrapper {
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 2px 0 #e0e7e9;
}

.edu-wrapper .head, .emp-wrapper .head, .pro-wrapper .head {
    background-color: #0a8bb0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #00789f;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgb(0, 120, 159);
    border-left: 0;
    padding: 3px 10px;
}

.date-range {
    box-shadow: 0 2px 0 #00789f;
    border-radius: 5px;
    background-color: #5ca9ca;
    color: #fff;
    float: right;
    font-size: 17px;
    padding: 2px 8px;
    text-align: center;
}

.edu-wrapper .head h3, .edu-wrapper .head h4, .emp-wrapper .head h3, .emp-wrapper .head h4, .pro-wrapper .head h3, .pro-wrapper .head h4 {
    text-shadow: none;
    margin: 0;
    line-height: 24px;
}

.edu-wrapper .body, .emp-wrapper .body, .pro-wrapper .body {
    border: 1px solid #cacaca;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(202, 202, 202);
    border-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 3px 10px;
}

.emp-box {
    padding-bottom: 0;
}

.emp-box .timeline-wrapper {
    margin-left: 20px;
}

.emp-box .timeline-wrapper {
    margin-top: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.emp-box .timeline-wrapper .emp-item {
    position: relative;
    border-style: solid;
    border-width: 0 0 0 11px;
    border-color: #0a8bb0;
    margin-left: -20px;
    padding-left: 30px;
}

.emp-box .timeline-wrapper .emp-item {
    padding-bottom: 30px;
}

.emp-box .timeline-wrapper .emp-item {
    position: relative;
    border-style: solid;
    border-width: 0 0 0 11px;
    border-color: #0a8bb0;
    margin-left: -20px;
    padding-left: 30px;
}

.emp-box .timeline-wrapper .emp-item {
    padding-bottom: 30px;
}

.emp-box .timeline-wrapper .emp-item .emp-wrapper .body span {
    box-shadow: 1px 1px rgba(0,0,0,.2);
    display: inline-block;
    padding: 8px;
    background: rgba(0,0,0,.075);
    margin: 5px;
    border-radius: 5px;
}

.emp-box .timeline-wrapper .emp-item .emp-wrapper::before {
    content: "";
    position: absolute;
    left: -26px;
    top: -1px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 10px solid #0a8bb0;
    border-radius: 20px;
}

.emp-box .timeline-wrapper .emp-item .emp-wrapper .body::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0a8bb0 transparent transparent;
}

.cat-title {
    margin-bottom: 10px;
    background-image: -webkit-linear-gradient(left,#eee,#ecf0f1);
    background-image: linear-gradient(to right,#eee,#ecf0f1);
    border-radius: 5px;
}

.cat-title i {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    font-size: 20px;
    background-color: #5bc0de;
    color: #fff;
}

.cat-title span {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 5px;
}

.sub-cat-title {
    margin-bottom: 8px;   
}

.sub-cat-title i {
    color: #5bc0de;
    font-size: 18px;
}

.sub-cat-title span {
    font-size: 15px;
    margin-left: 5px;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
    list-style: none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
    font-size: 15px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul li > span {
    margin-top: -3px;
}
ul li > .rating {
    float: right;
    margin-right: 10px;
}

.skill-body > span.label {
    margin-bottom: 5px;
    line-height: 1.5em;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
}